body {
    background-color: #ffffff;
    font-family: "Calibri Light", Calibri, serif;
}

div#selectPokemon {
    padding: 5px;
    width: fit-content;
    border-radius: 7px;
    border: #000000 2px solid;
}
div#content{
    padding: 10px;
    width: fit-content;
    border-radius: 7px;
    border: #000000 2px solid;
}
input{
    width: fit-content;
}
div#controls {

}

div#controls > button{
    border-radius: 5px;
    background-color: white;
    border: 2px solid #000000;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

div#controls > button:hover {
    background-color: white;
    color: black;
}
div#controls > button:disabled {
    background-color: white;
    color: black;
    display: none;
}

div#controls > button:hover:disabled:before{
    background-color: white;
    color: black;
    content: "N/A ";
}
div#controls > button:hover:disabled:after{
     background-color: white;
     color: black;
     content: " N/A";
 }